#sidebar {
  position: fixed;
  top:0;
  bottom: 0;
  width: 56px;
  text-align: center;
  background-color: #2c333c;
  flex-shrink: 0;
  z-index: 9;
  .iconfont {
      margin: 8px 0;
      height: 25px;
      width: 25px;
  }
  .icons {
    margin-top: 20px;
    .icon-notebook {
      height: 22px;
      width: 22px;
    }
    .icon-trash {
      fill: #fff;
    }
    a {
      display: block;
    }
    .router-link-active {
      background-color: #5e6266;
    }
  }
  .logout {
      &:hover {fill: red}
      transition: all 0.2s;
      position: absolute;
      bottom: 20px;
      text-align: center;
      width: 100%;
      fill: #fff;
      cursor: pointer;
  }
}